.header {
  height: 104.006px;
  width: auto;
}
.site-header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header-container {
  width: 1400px;
  padding: 16.002px 51.996px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #10bbd5;
}
.logo{
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo-image {
  height: 30.002px;
}
.logo-text{
  color: #F8FDFE;
font-family: Cabin;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cart {
  position: relative;
  display: flex;
  gap: 9.996px;
  align-items: center;
}
.cart-price {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
.cart-quantity {
  position: absolute;
  z-index: 2;
  top: 11.998px;
  right: 13.006px;

  color: #000;
  font-family: Cabin;
  font-size: 11.998px;
  font-style: normal;
  font-weight: 400;
  line-height: 9.996px;
}
.cart-button {
  position: relative;
  width: 39.998px;
  height: 39.998px;
  border: none;
  background: transparent;
  width: 39.998px;
  height: 39.998px;
  background-image: url("../images/cart_icon.png");
}
.cart-icon {
  
}
.navigation {
  background: #fff;
  padding-top: 4.004px;
  padding-bottom: 4.004px;
  display: flex;
  justify-content: space-between;
}
.category-heading {
  color: #000;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
.navigation-list {
  display: flex;
  gap: 39.998px;
}
.navigation-item {
}
.navigation-link {
  color: #000;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
.main-content {
  background: var(--beige, #eeeeef);
  position: relative;
  padding-bottom: 119.994px;
}
.main-title {
  display: block;
  padding-top: 35px;
  padding-bottom: 25.004px;
  border-bottom: 0.994px solid #a8a8a8;
  margin-bottom: 25.004px;
  position: relative;
  color: #1f1f1f;
  font-family: Cabin;
  font-size: 32.004px;
  font-style: normal;
  font-weight: 600;
  line-height: 39.998px; /* 125% */
}

/* .border-title {
  padding-top: 35px;
  padding-bottom: 25.004px;
  border-bottom: 0.994px solid #a8a8a8;
  margin-bottom: 25.004px;
} */

.chat-button {
  background-color: #10bbd5;
  width: 63.994px;
  height: 63.994px;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.chat-icon {
  width: 49.994px;
  height: 49.994px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32.004px 23.996px;
}
.product-card {
  padding: 32.004px;
  border: 0.994px solid #a8a8a8;
  background: #f8fdfe;
}
.product-image {
  position: relative;
  padding-top: 115%;
}
.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}
.banner {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  gap: 4.004px;
  border: none;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
.banner-hit {
  display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4.004px;
  background: #4200ff;
}
.banner-new {
  display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4.004px;
  background: #af39e7;
}
.banner-discount {
  display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4.004px;
  background: #ea33c0;
}
.product-title {
  margin-top: 16.002px;
  border-bottom: 0.994px solid #a8a8a8;
  display: flex;
  width: 242.004px;
  height: 30.996px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--black, #1f1f1f);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 20.006px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.author-name {
  display: flex;
  width: 240.996px;
  height: 23.996px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--gray, #8e8e8e);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
.price {
  color: #e90000;
  font-family: Cabin;
  font-size: 23.996px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.004px; /* 133.333% */
}
.add-to-basket {
  margin-top: 16.002px;
  display: flex;
  padding: 7.994px 23.996px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  width: 100%;
  border-radius: 4.004px;
  background: var(--eggplant, #4c394e);
  color: var(--white, #f8fdfe);
  text-align: center;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}

.end-up {
  background: #4d762d;
}
.price-container {
  display: flex;
  align-items: center;
  gap: 23.996px;
}
.old-price {
  color: var(--gray, #8e8e8e);
  font-family: Cabin;
  font-size: 23.996px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.004px; /* 133.333% */
  text-decoration: line-through;
}
.site-footer {
padding-top: 32px;
padding-bottom: 32px;
  background-color: #4c394e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white, #f8fdfe);
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
}
